        {% block header %}
		<script src="/assets/style/js/toggleDarkTheme.js"></script>
		<header class="header">
		<nav>
			<div class="branding"><a class="logo" href="{{ path('app_home') }}"><img src="/assets/img/logo.png" alt="Logo"></a><h1 class="slogan">{{slogan}}</h1></div>{# Ne pas mettre d'espace pour éviter le débordement de la barre de navigation
			 #}<div class="search">
			<form action="{{ path('app_product_search') }}" method="GET">
				<input name="name" type="text" placeholder="Rechercher..." class="input" value="{{ app.request.query.get('name') }}">
				{# Inclure dans la requête les paramètres déjà présents dans l'URL #}
				{# Cela évite de perdre les filtres lors d'une nouvelle recherche #}
				{% for key, value in app.request.query.all %}
					{% if key != 'name' %}
					<input type="hidden" name="{{ key }}" value="{{ value }}"> {% endif %}
				{% endfor %}
				<button type="submit" class="btn">{% include 'icons/menus/search.svg' %}</button>
			</form>{# Ne pas mettre d'espace pour éviter le débordement de la barre de navigation
			 #}</div><ul class="user-menu" id="userMenu">
				<li {% if currentRoute == 'app_cart_show' %}class="current"{% endif %}>
					<a href="{{ path('app_cart_show') }}">
						{% include 'icons/menus/cart.svg' %}
					</a>
				</li>
				<li {% if currentRoute == 'app_user_edit' %}class="current"{% endif %}>
					<a href="{{ path('app_user_show') }}">
						{% include 'icons/menus/account.svg' %}
					</a>
				</li>
				<li {% if currentRoute == 'app_help' %}class="current"{% endif %}>
					<a href="{{ path('app_help') }}">
						{% include 'icons/menus/help.svg' %}
					</a>
				</li>
			</ul>
		</nav>
		<div class="breadcrumbs">
		<ul>
		{% for breadcrumb in breadcrumbs %}
			{% if loop.last %}
				<li class="current">{{breadcrumb.name}}</li>
			{% else %}
				<li><a href="{{breadcrumb.link}}">{{breadcrumb.name}}</a></li>
			{% endif %}
		{% endfor %}
		</div>
		</header>

		{% endblock %}