{% extends 'structure/base.html.twig' %}

{% set currentPage = 'Page d\'administration des produits' %}
{% set currentRoute = app.request.attributes.get('_route') %}

{% block pageTitle %}
	{{ parent() }}
	-
	{{ currentPage }}
{% endblock %}


{% block content %}
	{% include 'structure/header.html.twig' with {'currentRoute': currentRoute, 'breadcrumbs': [
		{ 'link': path('app_home'), 'name': 'Accueil' },
		{ 'link': path('app_product_list'), 'name': 'Gestion des produits' }
	]} 
	%}
	<section class="section">
	{% include 'structure/title.html.twig' with {'currentPage': currentPage} %}

    <h2>Liste des produits</h1>

	{% include 'structure/notifications.html.twig' %}
    <a href="{{ path('app_product_create') }}" class="btn btn-secondary">Créer un produit</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
				<th>Image(s)</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Disponibilité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
				<td>{% if product.medias is empty %}
					{% include 'icons/menus/help.svg' %}
				{% else %}
					{% for media in product.medias %}
						{# Si le média est une image #}
						{% if 'image' in media.type %}
							<img src="{{ media.path }}" alt="{{ media.alt }}" title="{{ media.alt }}">
						{# Si le média est une vidéo #}
						{% elseif 'video' in media.type %}
							<video src="{{ media.path }}" title="{{ media.alt }}" muted loop autoplay preload></video>
						{# Si le média est d'un type non pris en charge #}
						{% else %}
							{% include 'icons/menus/help.svg' %}
						{% endif %}
					{% endfor %}
				{% endif %}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.available ? '✔️' : '❌' }}</td>
				<td>
					<a href="{{ path('app_product_show', {'id': product.id}) }}" target="_blank" class="btn btn-secondary">Voir</a>
					<a href="{{ path('app_product_edit', {'id': product.id}) }}" target="_blank" class="btn btn-secondary">Éditer</a>
					<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes vous certain de vouloir supprimer le produit {{ product.name }} ?')">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
						<button class="btn btn-danger">Supprimer</button>
					</form>
				</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</section>
	{% include 'structure/footer.html.twig' %}
{% endblock %}
